.body {
    margin: 0px;
}
.title{
    font-size: 65px;
    text-align: right;
}
.description{
    font-size: 16px;
    text-align: right;
}
.contact{
    height: 40px;
    font-weight: 500;
    font-size: 20px;
    color: floralwhite;
    border-radius: 5px;
    background: rgba(255, 68, 0, 0.732);
    border: 0;
    margin-right: 0px;
}

.banner img{
    max-width: 100%;
    height: auto;
}

.text{
    background-image: url(images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    min-height: 100%;
    text-align: right;
    padding-top: 135px;
    padding-bottom: 135px;
}
.contact-us {
    margin: auto;
    padding-right: 70px;
}
.failure {
    display: flex;
    justify-content: center;
}
.failure-img {
    margin-right: 0px;
}
.failure-left-child {
    flex: 1;
    min-width: 0;
    text-align: right;
    padding-right: 25px;
}
.failure-right-child {
    margin: auto 0px;
    flex: 1;
    min-width: 0;
    padding-left: 25px;
}
.failure-title{
    font-size: 55px;
}

.failure-description{
    font-size: 16px;
}
.plan {
    width: 70%;
    margin: auto;
}
.plan .title {
    text-align: center;
}
.plan .body {
    display: flex;
    justify-content: space-between;
}
.plan .item {
    text-align: center;
}
.plan .img {
    /* width: 100%;
    margin-top: 50px; */
    background-image: linear-gradient(to right, rgba(248, 47, 2, 0.52), rgba(247, 245, 246, 0.73)),url(images/watch.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    background-position: center center;
    color: whitesmoke;
    margin-top: 100px;
    /* width: 100%;
    height: auto; */
}
.plan .img .body {
    width: 80%;
    text-align: left;
    display:inline-block;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn-white-background {
    height: 40px;
    font-size: 10px;
    color: orangered;
    border-radius: 5px;
    background: whitesmoke;
    border: 0;
    padding: 5px 30px;
    font-weight: bolder;
}
.footer {
    margin-top: 130px;
    background-color: black;
    color: whitesmoke;
}
.footer {
    margin-top: 130px;
    background-color: black;
    color: whitesmoke;
}
.footer .body {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 80px 0;
}
.footer-img {
    width: 20px;
    height: auto;
}
input {
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ccc;
    background-color: black;
}
